:root {
    --primary-color: #dd5757;
}

#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
}

#qst {
    display: none;

    text-decoration: underline;
}

#choices {
    display: none;

    justify-content: space-around;
}

#quizend {
    display: none;
    border: 1px black;
    width: 15%;
    position: relative;
    left: 635px;
}

.hide {
    display: none;
}

#timelapse {
    left: -693px;
    float: right;
    position: relative;
}

.parag {
    margin-left: 10px;
}

.questions {
    text-align: center;
    padding: 0px;
    left: 0px;
    margin: 15px;
    position: relative;
    font-size: x-large;
    top: 20px;
}

#quizscreen {
    position: relative;
    top: 40px;
}

.choices {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    max-width: 100%;
    top: 65px;
}

#h1 {
    left: 350px;
}

#startbtn {
    left: 180px;
    position: relative;
    top: 0px;
    font-size: xx-large;
    background-color: var(--primary-color);
    padding: 10px;
    font-size: 20px;
    color: white;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#feedback {
    font-size: xx-large;
    top: 390px;
    display: flex;
    position: relative;
    left: 705px;
}

.ininput {
    width: 10%;
    position: relative;
    left: 30px;
}

#tryagainbtn {
    background-color: var(--primary-color);
    position: relative;
    top: 305px;
    left: 693px;
    color: white;
    font-size: x-large;
}

/* new css */

#startTime {
    background-color: var(--primary-color);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

#questionsDiv {
    margin: 20px;
}

#goBack {
    background-color: var(--primary-color);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

li {
    background-color: var(--primary-color);
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}

#clear {
    background-color: var(--primary-color);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}

button {
    border-radius: 8px;
}

textarea {
    width: 90%;
    margin: 20px;
}

#submitbtn {
    position: relative;
    right: -25px;
    background-color: var(--primary-color);
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 4px;
    left: 30%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#Submit {
    background-color: var(--primary-color);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

/* Start media queries */

/* A Media Query max-width: 786px */

@media screen and (max-width: 786px) {
    /* Resized content to fit 786px  */
    body {
        max-width: 786px;
    }
    /* Resized main-content to fit 786px  */
    #wrapper {
        position: absolute;
        left: 20%;
    }
    a {
        margin-left: 20%;
    }
    #goBack {
        position: relative;
        left: 55%;
    }
    #clear {
        position: relative;
        right: 5%;
    }
}

/* A Media Query max-width: 640px */

@media screen and (max-width: 640px) {
    /* Resized content to fit 640px  */
    body {
        min-width: 640px;
    }
    /* Resized main-content to fit 640px  */
    #wrapper {
        position: absolute;
        left: 10%;
    }
    a {
        margin-left: 10%;
    }
}
